<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Watch Data Analytics</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center text-primary mt-5 mb-4">Smart Watch Data Analytics</h1>
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2>Welcome</h2>
                        <p>Select an option to continue:</p>
                        <div class="btn-group-vertical mt-3" role="group" aria-label="Data Analytics Options">
                            <button onclick="location.href='index1.html'" type="button" class="btn btn-primary">Sleep Quality Score</button>
                            <button onclick="location.href='index2.html'" type="button" class="btn btn-secondary">Stress Level Prediction</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
